
.icon-gplus-circled:before { content: '\e800'; } /* '' */
.icon-twitter-circled:before { content: '\e801'; } /* '' */
.icon-linkedin-circled:before { content: '\e802'; } /* '' */
.icon-facebook-circled:before { content: '\e803'; } /* '' */
.icon-twitter-circled-1:before { content: '\e804'; } /* '' */
.icon-linkedin-circled-1:before { content: '\e805'; } /* '' */